.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #ed86d5;
  background: -webkit-linear-gradient(bottom left, #200348 0%, #ff72c4 100%);
  background: -moz-linear-gradient(bottom left, #200348 0%, #ff72c4 100%);
  background: -o-linear-gradient(bottom left, #200348 0%, #ff72c4 100%);
  background: linear-gradient(to top right, #200348 0%, #ff72c4 100%);
  font-family: 'Courier New', 'Courier', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  margin-inline: 50%;
  margin-block: 50%;
  transform: translate(-50%,-50%);
	text-align: center;
}

.number {
  position: relative;
  height: 100px;
  width: 200px;
}

.one-one {
		position: absolute;
		background-color: white;
		width: 20px;
		height: 40px;
		top: -1px;
		left: -12px;
		transform: rotate(55deg);
		border-radius: 5px;
		z-index: 10;
	}

.one-two {
		position: absolute;
		height: 100px;
		width: 20px;
		background-color: white;
		left: 5px;
		top: 0px;
		box-shadow: -2px 2px 8px rgba(2,-3,0,0.2);
		border-radius: 5px;
		z-index: 5;
	}

.zero-one, .zero-two {
		position: absolute;
		box-sizing: border-box;
		height: 100px;
		width: 95px;
		border-radius: 50%;
		border: 25px solid white;
		box-shadow: -2px 2px 5px rgba(2,-3,0,0.2);
		left: 20px;
		z-index: 4;
	}
	
	.zero-two {
		transform: translateX(90px);
		z-index: 0;
	}

.days {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 84px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 8px;
}

.challenge {
  position: relative;
  z-index: 20;
	left: 5px;
 	display: block;
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .04em;
}